<% Object.keys(posts).forEach(function(key) { %>
<div class="d-flex flex-nowrap pt-4">
	<div class="col-12">
		<div class="card border-secondary">
			<div class="card-header">
				<ul class="nav nav-tabs card-header-tabs">
					<li class="nav-item">
						<a class="nav-link active">Post</a>
					</li>
					<li class="nav-item">
						<a class="nav-link">Comments</a>
					</li>
				</ul>
			</div>
			<div class="card-body">
				<h5 class="card-title pb-1"><%= posts[key].title %></h5>
				<p class="card-text"><%= posts[key].content %></p>
			</div>
			<div class="card-footer d-flex justify-content-between">
				<div class="d-flex">
					<button id="like-button" class="like-button p-0">
						<i class="heart-icon"></i>
					</button>
					<p class="text-muted my-0 ms-2 py-0" style="font-size: 0.8rem">1000 Likes</p>
				</div>
				<p class="text-muted my-0 py-0" style="font-size: 0.8rem">06/09/2024 at 13:00</p>
			</div>
		</div>
	</div>
</div>
<% }); %>
