<% Object.keys(posts).forEach(function(key) { %>
<div class="d-flex flex-nowrap pt-4 m-2">
	<div class="col-12">
		<div class="card border-secondary">
			<div class="card-header">
				<ul class="nav nav-tabs card-header-tabs">
					<li class="nav-item">
						<a class="nav-link active">Post</a>
					</li>
					<li class="nav-item">
						<a class="nav-link">Comments</a>
					</li>
					<% if (isSelf) { %>
					<li class="nav-item ms-auto">
						<a
							class="flex-shrink-0 overflow-hidden pe-1 pt-0 pb-2"
							style="max-height: 40px; cursor: pointer"
							data-bs-toggle="dropdown"
						>
							<img alt="options icon" src="/svg/three-dots-vertical.svg" />
						</a>

						<ul class="dropdown-menu text-small rounded">
							<li>
								<a
									class="dropdown-item delete-post-link"
									data-key="<%= key %>"
									data-bs-toggle="modal"
									data-bs-target="#confirmDeletePostModal"
								>
									Delete post
								</a>
							</li>
						</ul>
					</li>
					<% } %>
				</ul>
			</div>
			<div class="card-body">
				<h5 class="card-title pb-1"><%= posts[key].title %></h5>
				<p class="card-text"><%= posts[key].content %></p>
			</div>
			<div class="card-footer d-flex justify-content-between">
				<div class="d-flex">
					<button id="like-button" class="like-button p-0">
						<i class="heart-icon"></i>
					</button>
					<p class="text-muted my-0 ms-2 py-0" style="font-size: 0.8rem">1000 Likes</p>
				</div>
				<p class="timestamp text-muted my-0 py-0" style="font-size: 0.8rem">
					<%= posts[key].createdTimestamp %>
				</p>
			</div>
		</div>
	</div>
</div>
<% }); %>

<!-- Confirm Delete Post Modal -->
<div class="modal" id="confirmDeletePostModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Delete post</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex col-12 p-5 h-50 align-items-center" id="top-panel">
					<div class="d-flex align-items-center flex-column text-center">
						<h5>Are you sure you want to delete this post?</h5>
						<p>(This action cannot be undone)</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button id="confirmDeletePostButton" type="button" class="btn btn-primary shadow">
					<p class="m-0 p-0">Confirm</p>
				</button>
			</div>
		</div>
	</div>
</div>
