<div class="card ms-3 my-4 border-secondary">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Comments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Likes</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title pb-1">Top 10 vacation sites</h5>
        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Hac habitasse platea dictumst quisque sagittis purus sit amet. Porttitor leo a diam
            sollicitudin. Ut consequat semper viverra nam libero justo laoreet sit amet. Sit amet facilisis magna etiam
            tempor orci. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Risus viverra
            adipiscing at in. Ultricies mi quis hendrerit dolor magna eget est lorem. In fermentum posuere urna nec
            tincidunt praesent semper. Ac turpis egestas sed tempus urna et pharetra. Sit amet cursus sit amet. Facilisi
            nullam vehicula ipsum a arcu cursus vitae congue. Mauris pellentesque pulvinar pellentesque habitant morbi
            tristique senectus et netus. Et malesuada fames ac turpis egestas. Mauris vitae ultricies leo integer
            malesuada nunc vel risus. Suspendisse in est ante in
        </p>
    </div>
</div>
