<!-- Settings Modal -->
<div class="modal" id="settingsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Settings</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <h5 class="mt-2 mb-3 ps-1">Profile</h5>

                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action list-group-item-light" data-bs-toggle="modal" data-bs-target="#pictureModal">
                        Change profile picture
                    </a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-light">
                        Change profile background
                    </a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-light">
                        Change biography
                    </a>
                </div>

                <h5 class="mt-4 mb-3 ps-1">Account</h5>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Change password</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Delete Account</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

<!-- Profile Picture Modal -->
<div class="modal" id="pictureModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Change profile picture</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="w-100 my-4 d-flex justify-content-center">
                    <img src="/images/profile-female.png" alt="mdo" width="120" height="120" class="rounded" />
                </div>
                
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action list-group-item">
                        Upload photo
                    </a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">
                        Delete photo
                    </a>
                </div>

                <form id="profilePicForm" style="display: none;">
                    <input type="file" id="profilePicInput" accept="image/*" />
                    <button type="submit">Upload Profile Picture</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#settingsModal">Back</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>