<div class="col-2 d-inline-flex justify-content-end align-items-end me-4">
    <div class="d-flex flex-nowrap border border-2 border-info-subtle rounded-5 px-2 py-1">
        <p class="d-xl-block d-none me-1 my-2"><%= nickname %></p>
        <a href="#" class="d-block link-body-emphasis text-decoration-none" aria-expanded="false">
            <img src="/images/profile-female.png" alt="mdo" width="40" height="40" class="rounded-circle">
        </a>
    </div>
</div>