<div class="col-3 d-inline-flex justify-content-end align-items-start me-4">
    <div class="d-flex flex-nowrap dropdown-center border border-2 border-info-subtle rounded-5 px-2 py-1">
        <p class="d-xl-block d-none mx-1 my-2"><%= username %></p>
        <a class="d-block link-body-emphasis text-decoration-none" role="button" data-bs-toggle="dropdown">
            <img src="/images/profile-female.png" alt="mdo" width="40" height="40" class="rounded-circle" />
        </a>

        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">View Profile</a></li>
            <li><a class="dropdown-item" href="#">Follow</a></li>
        </ul>
    </div>
</div>
