{
	"singleQuote": true,
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 4,
	"semi": true,
	"printWidth": 120,
	"endOfLine": "auto",
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "ignore",
	"overrides": [
		{
			"files": "*.ejs",
			"options": {
				"parser": "html"
			}
		}
	]
}
