<!-- Profile Picture Modal -->
<div class="modal" id="pictureModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Change profile picture</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<div class="w-100 my-3 d-flex justify-content-center">
					<img
						id="previewPic"
						src="<%= profilePictureUrl %>"
						alt="profile_picture_preview"
						width="120"
						height="120"
						class="rounded"
					/>
				</div>

				<h5 class="mb-3 text-center text-body-tertiary fs-6">Preview</h5>

				<div class="list-group">
					<a id="triggerPicFileInput" class="list-group-item list-group-item-action list-group-item">
						Upload photo
					</a>
					<a
						class="list-group-item list-group-item-action list-group-item-danger"
						data-bs-toggle="modal"
						data-bs-target="#confirmDeletePicModal"
					>
						Delete photo
					</a>
				</div>

				<form id="picForm" style="display: none">
					<input type="file" id="picFileInput" accept="image/*" />
					<button type="submit">Upload Profile Picture</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#settingsModal">
					Back
				</button>

				<button id="submitPicInput" type="button" class="btn btn-primary">
					<p class="m-0 p-0">Save</p>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Confirm Delete Modal -->
<div class="modal" id="confirmDeletePicModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Delete profile picture</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex col-12 p-5 h-50 align-items-center" id="top-panel">
					<div class="d-flex align-items-center flex-column text-center">
						<h5>Are you sure you want to delete your profile picture?</h5>
						<p>(This action can't be undone)</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary shadow"
					data-bs-toggle="modal"
					data-bs-target="#pictureModal"
				>
					Back
				</button>
				<button id="confirmDeletePicButton" type="button" class="btn btn-primary shadow">
					<p class="m-0 p-0">Confirm</p>
				</button>
			</div>
		</div>
	</div>
</div>
