<!-- Profile Background Modal -->
<div class="modal" id="backgroundModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Change profile background</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<div class="w-100 my-3 d-flex justify-content-center">
					<img
						id="previewBackground"
						src="<%= profileBackgroundUrl %>"
						alt="profile_background_preview"
						width="300"
						height="120"
						class="rounded"
					/>
				</div>

				<h5 class="mb-3 text-center text-body-tertiary fs-6">Preview</h5>

				<div class="list-group">
					<a id="triggerBgFileInput" class="list-group-item list-group-item-action list-group-item">
						Upload background
					</a>
					<a
						class="list-group-item list-group-item-action list-group-item-danger"
						data-bs-toggle="modal"
						data-bs-target="#confirmDeleteBgModal"
					>
						Delete background
					</a>
				</div>

				<form id="bgPicForm" style="display: none">
					<input type="file" id="bgPicInput" accept="image/*" />
					<button type="submit">Upload Background</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#settingsModal">
					Back
				</button>

				<button id="submitBgInput" type="button" class="btn btn-primary action-button">
					<p class="m-0 p-0">Save</p>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Confirm Delete Modal -->
<div class="modal" id="confirmDeleteBgModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Delete profile background</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex col-12 p-5 h-50 align-items-center" id="top-panel">
					<div class="d-flex align-items-center flex-column text-center">
						<h5>Are you sure you want to delete your profile background?</h5>
						<p>(This action can't be undone)</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary shadow"
					data-bs-toggle="modal"
					data-bs-target="#backgroundModal"
				>
					Back
				</button>
				<button id="confirmDeleteBgButton" type="button" class="btn btn-primary action-button">
					<p class="m-0 p-0">Confirm</p>
				</button>
			</div>
		</div>
	</div>
</div>
