<!-- Change Password Modal -->
<div class="modal" id="changePasswordModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Change Password</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<form class="w-100" action="/update/password" method="POST" id="changePasswordForm">
					<div class="form-floating mb-2 w-100">
						<input
							class="form-control"
							id="floatingCurrentPassword"
							type="password"
							placeholder="Current Password"
							name="currentPassword"
							data-bs-toggle="tooltip"
							data-bs-placement="right"
						/>
						<label class="text-secondary" for="floatingCurrentPassword">Current Password</label>
					</div>

					<hr />

					<div class="form-floating mb-2 w-100">
						<input
							class="form-control w-100"
							id="floatingNewPassword"
							type="password"
							placeholder="New Password"
							name="newPassword"
							data-bs-toggle="tooltip"
							data-bs-placement="right"
						/>
						<label class="text-secondary" for="floatingNewPassword">New Password</label>
					</div>

					<div class="form-floating mb-2 w-100">
						<input
							class="form-control w-100"
							id="floatingConfirmPassword"
							type="password"
							placeholder="Confirm Password"
							name="confirmNewPassword"
						/>
						<label class="text-secondary" for="floatingConfirmPassword">Confirm Password</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					id="backPasswordModalButton"
					class="btn btn-secondary"
					data-bs-toggle="modal"
					data-bs-target="#settingsModal"
				>
					Back
				</button>
				<button type="submit" class="btn btn-primary action-button" form="changePasswordForm">Save</button>
			</div>
		</div>
	</div>
</div>

<!-- Success Modal -->
<div class="modal" id="successModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Success</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex col-12 p-5 h-50 align-items-center" id="top-panel">
					<div class="d-flex justify-content-evenly align-items-center">
						<img class="p-3" height="120px" alt="checkmark icon" src="/svg/check2-circle.svg" />
						<h4 class="ms-2">Password changed succesfully!</h>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
