<!-- Profile Background Modal -->
<div
	class="modal"
	id="backgroundModal"
	tabindex="-1"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Change profile background</h1>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
				></button>
			</div>
			<div class="modal-body">
				<div class="w-100 my-3 d-flex justify-content-center">
					<img
						id="previewBackground"
						src="<%= profileBackgroundUrl %>"
						alt="profile_background_preview"
						width="300"
						height="120"
						class="rounded"
					/>
				</div>

				<h5 class="mb-3 text-center text-body-tertiary fs-6">Preview</h5>

				<div class="list-group">
					<a
						id="triggerBgFileInput"
						class="list-group-item list-group-item-action list-group-item"
					>
						Upload background
					</a>
					<a
						id="deleteBgButton"
						class="list-group-item list-group-item-action list-group-item-danger"
					>
						Delete background
					</a>
				</div>

				<form
					id="bgPicForm"
					style="display: none"
				>
					<input
						type="file"
						id="bgPicInput"
						accept="image/*"
					/>
					<button type="submit">Upload Background</button>
				</form>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					id="backBgButton"
					class="btn btn-secondary"
					data-bs-toggle="modal"
					data-bs-target="#settingsModal"
				>
					Back
				</button>

				<button
					id="submitBgInput"
					type="button"
					class="btn btn-primary"
				>
					<p class="m-0 p-0">Save</p>
					<span class="spinner-border spinner-border-sm d-none"></span>
				</button>
			</div>
		</div>
	</div>
</div>
