<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pulse Post</title>
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous"
		/>
		<link href="/styles/global.css" rel="stylesheet" />
		<link href="/styles/home.css" rel="stylesheet" />
		<link href="/styles/lists.css" rel="stylesheet" />
		<link href="/styles/backgrounds.css" rel="stylesheet" />
	</head>

	<body>
		<%- include('partials/navbars/navbar-home.ejs') %>

		<section class="container col-xxl-8 px-4 py-5">
			<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
				<div class="col-10 col-sm-8 col-lg-6">
					<img
						src="/images/landing-page-art.png"
						class="d-block mx-lg-auto img-fluid"
						alt="Home page art"
						width="700"
						height="500"
						loading="lazy"
					/>
				</div>
				<div class="col-lg-6">
					<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Capture the Pulse of Creativity</h1>
					<p class="lead">
						Dive into a world where each post is more than words—it's a heartbeat. At Pulse-Post, your
						stories come alive, resonate, and inspire. Start your blogging journey with us today and share
						your passion with the world.
					</p>
					<div class="d-grid gap-2 d-md-flex justify-content-md-start">
						<a class="btn btn-primary btn-lg px-4 me-md-2" href="/signup/">Get Started</a>
					</div>
				</div>
			</div>
		</section>

		<section class="container-fluid bg-light">
			<div class="container px-4 py-5" id="custom-cards">
				<h2 class="pb-2 border-bottom">Explore Pulse-Post</h2>

				<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-4">
					<div class="col">
						<div class="flip-card">
							<div class="flip-card-inner">
								<div
									class="card card-cover flip-card-front h-100 overflow-hidden rounded-4 shadow-lg"
									style="background-image: url('/images/card-1.png')"
								>
									<div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
										<h3 class="pt-5 ps-3 mt-5 mb-4 display-6 lh-1 fw-bold">
											Create with
											<br />
											Ease
										</h3>
									</div>
								</div>

								<div class="flip-card-back p-4 rounded-4 background-salmon">
									<h4 class="mt-3">
										Step into the world of blogging with our user-friendly post editor.
										<br />
										<br />
										Share your thoughts, stories, and expertise with just a few clicks.
									</h4>
								</div>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="flip-card">
							<div class="flip-card-inner">
								<div
									class="card card-cover flip-card-front h-100 overflow-hidden rounded-4 shadow-lg"
									style="background-image: url('/images/card-2.png')"
								>
									<div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
										<h3 class="pt-3 mt-5 mb-4 display-6 lh-1 fw-bold">Connect and Engage</h3>
									</div>
								</div>

								<div class="flip-card-back p-4 rounded-4 background-light-blue">
									<h4 class="mt-3">
										Join a vibrant community of readers and writers.
										<br />
										<br />
										Comment, like, and follow your favorite authors.
									</h4>
								</div>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="flip-card">
							<div class="flip-card-inner">
								<div
									class="card card-cover flip-card-front h-100 overflow-hidden rounded-4 shadow-lg"
									style="background-image: url('/images/card-3.png')"
								>
									<div class="d-flex flex-column h-100 px-5 pb-5 text-white text-shadow-1">
										<h3 class="ps-2 pb-5 display-6 mt-5 lh-1 fw-bold">Discover Amazing Stories</h3>
									</div>
								</div>

								<div class="flip-card-back p-4 rounded-4 background-dark-blue">
									<h4 class="mt-3">
										Dive into a sea of content, curated to match your interests.
										<br />
										<br />
										Discover new stories, ideas, and perspectives every day.
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="my-5">
			<div class="p-5 text-center">
				<div class="container py-5">
					<h1 class="text-body-emphasis">Come Join Us!</h1>
					<p class="col-lg-8 mx-auto lead">
						At the heart of Pulse-Post is a commitment to seamless storytelling and community engagement.
						Experience the simplicity of sharing your voice and the excitement of connecting with readers in
						an interactive, responsive blogging environment.
					</p>
					<a href="/about" class="btn btn-primary">Learn More</a>
				</div>
			</div>
		</section>

		<%- include('partials/footer.ejs') %>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
			crossorigin="anonymous"
		></script>
	</body>
</html>
