<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/styles/sign-up.css" rel="stylesheet">
</head>

<body class="vh-100">
    <div class="container-fluid h-100 d-flex align-items-center gradient-background">
        <div class="container w-50">
            <div class="row">
                <div class="d-lg-flex d-none col-5 p-0 flex-shrink-0">
                    <img class="img-fluid shadow" id="left-panel" src="/images/sign-up-art.png" alt="logo">
                </div>
                <div class="d-flex col-12 col-lg-7 bg-light p-5 shadow" id="right-panel">
                    <form data-form-type="login">
                        <img class="img-fluid mb-2" src="/images/logo.png" alt="logo" style="max-height: 60px;">
                        <h2>Sign up and start posting!</h2>
                    </form>
                    

                </div>
            </div>
        </div>
    </div>

    <script src="/scripts/sign-up.js" charset="utf-8"></script>
</body>

