<header class="container-fluid p-0 bg-light sticky-top shadow-sm">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container d-flex flex-nowrap">
			<!-- Home, Trending, and Search -->
			<div class="d-none d-lg-flex align-items-center">
				<a href="/feed/" class="col-2 me-1">
					<div class="flex-shrink-0 overflow-hidden my-3" style="max-height: 60px">
						<img class="header-icon" alt="home icon" src="/svg/house.svg" style="max-height: 60px" />
					</div>
				</a>

				<a class="col-2 me-1" id="trending-btn" style="cursor: pointer">
					<div class="flex-shrink-0 overflow-hidden my-3" style="max-height: 60px">
						<img
							class="header-icon"
							id="trending-img"
							alt="fire icon"
							src="/svg/fire.svg"
							style="max-height: 60px"
						/>
					</div>
				</a>

				<form class="col-10 col-lg-auto mb-0 me-lg-3" role="search">
					<input type="search" class="form-control open-sans-title" placeholder="Search..." />
				</form>
			</div>

			<!-- Left side collapse for offcanvas -->
			<div class="d-flex d-lg-none align-items-center">
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="offcanvas"
					data-bs-target="#offcanvas-feed"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>

			<!-- Right side profile links -->
			<div class="dropdown mt-1 px-3 pt-2 d-flex flex-nowrap border border-primary bg-primary-subtle rounded-5">
				<p class="me-2 mt-2"><%= username %></p>
				<a
					class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
					style="cursor: pointer"
					data-bs-toggle="dropdown"
				>
					<img src="<%= userPictureUrl %>" width="40" height="40" class="rounded-circle" />
				</a>

				<ul class="dropdown-menu text-small">
					<li>
						<a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#postModal">New Post</a>
					</li>
					<li>
						<a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#settingsModal">Settings</a>
					</li>
					<li>
						<a class="dropdown-item" href="/profile/<%= encodeURIComponent(username) %>">Profile</a>
					</li>
					<li><hr class="dropdown-divider" /></li>
					<li>
						<a class="dropdown-item" onclick="signOut()">Sign out</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvas-feed">
	<div class="offcanvas-header bg-light">
		<h5 class="offcanvas-title" id="offcanvas-feed-label">Explore</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
	</div>
	<div class="offcanvas-body fs-4 p-0">
		<div class="position-sticky top-0 z-3 bg-white">
			<form class="col-12 px-3 pt-3" role="search">
				<input type="search" class="form-control open-sans-title" placeholder="Search..." />
			</form>
		</div>

		<ul class="list-unstyled fw-normal p-3 small">
			<li>
				<a href="/" class="list-item d-inline-block rounded mb-1">Home</a>
			</li>
			<li>
				<a href="/" class="list-item d-inline-block rounded mb-1">Trending</a>
			</li>
			<li>
				<a
					href="#collapseFollowing"
					class="list-item d-inline-block rounded mb-1"
					data-bs-toggle="collapse"
					role="button"
					id="followingToggle"
				>
					Following
					<img src="/svg/caret-right-fill.svg" class="arrow" width="12" height="12" />
				</a>
				<div class="collapse" id="collapseFollowing">
					<ul class="list-unstyled fw-normal ms-3 small">
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
						<li><a href="/" class="list-item d-inline-block rounded mb-1">Test Name</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>
