<!-- Post Creation Modal -->
<div class="modal" id="postModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">New Post</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<form action="/post" method="POST" id="postForm">
					<div class="mb-3">
						<label class="col-form-label">Title:</label>
						<input
							type="text"
							class="form-control"
							id="postTitle"
							name="title"
							maxlength="100"
							data-bs-toggle="tooltip"
							data-bs-placement="right"
							placeholder="Add a catchy title…"
						/>
					</div>
					<div class="mb-3">
						<label class="col-form-label">Content:</label>
						<textarea
							class="form-control"
							id="postContent"
							rows="10"
							maxlength="1500"
							name="content"
							data-bs-toggle="tooltip"
							data-bs-placement="right"
							placeholder="What’s on your mind?"
						></textarea>
						<div class="text-body-secondary char-counter mt-1 ms-1">
							Characters remaining:
							<span id="postCharCount">1500</span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="submit" id="submitBtn" class="btn btn-primary" form="postForm">Submit</button>
			</div>
		</div>
	</div>
</div>
