/* about.css */

.about-container {
    min-height: 100%;
}

.about-wallpaper {
    max-height: 25vh;
}

.about-info {
    top: 20vh;
}

p {
    text-align: justify;
}

.contact-icon {
    width: 100%; /* Makes the image responsive */
    max-width: 20px; /* Sets a max size for the image */
    height: auto; /* Keeps the image aspect ratio intact */
}

/* Optional: Define different max-widths for different viewport sizes */
@media (min-width: 768px) {
    .contact-icon {
        max-width: 30px; /* Larger icons on medium screens and up */
    }
}

@media (min-width: 992px) {
    .contact-icon {
        max-width: 40px; /* Even larger icons on large screens and up */
    }
}
