.background-salmon {
    background: #ffbfa9;
}

.background-light-blue {
    background: #2cd3e1;
}

.background-dark-blue {
    background: #3330e4;
}

.background-green {
    background: #50d890;
}

.gradient-background-light {
    background: linear-gradient(300deg, #00bfff, #ffffff);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

.gradient-background-dark {
    background: linear-gradient(300deg, #0a1d56, #647d87, #ffffff);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
