/* sign-up.css */

@media (max-width: 1199px) {
    html {
        font-size: 0.8rem; 
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 0.9rem; 
    }
}

#left-panel {
    border-top-left-radius: 0.5rem; 
    border-bottom-left-radius: 0.5rem;
}

#right-panel {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

#full-panel {
    border-top-left-radius: 0.5rem; 
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

input[type="password"] {
    margin-bottom: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.custom-form-container {
    max-width: 800px;
}

.gradient-background-light {
    background: linear-gradient(300deg, #00bfff, #ffffff);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

.gradient-background-dark {
    background: linear-gradient(300deg ,#0A1D56, #647D87, #ffffff);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
  
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}