.header-icon {
    width: 100%; 
    max-width: 30px; 
    height: auto; 
}

.fixed-sidebar-left {
    height: 100vh;
    overflow-y: auto;
}

.fixed-sidebar-right {
    height: 100vh;
    overflow-y: auto;
}

.fixed-sidebar-left::-webkit-scrollbar, .fixed-sidebar-right::-webkit-scrollbar {
    display: none;
}

.open-sans-title {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.button-cursor {
    cursor: pointer;
}
