.header-icon {
    width: 100%;
    max-width: 30px;
    height: auto;
}

.fixed-sidebar-left {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.fixed-sidebar-right {
    position: fixed;
    top: 60px;
    bottom: 0;
    right: 0;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.fixed-sidebar-left,
.fixed-sidebar-right {
    overflow: hidden; /* Hide the scrollbar by default */
}

.fixed-sidebar-left:hover,
.fixed-sidebar-right:hover {
    overflow: auto; /* Show the scrollbar on hover */
}

.fixed-sidebar-left::-webkit-scrollbar,
.fixed-sidebar-right::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
}

.fixed-sidebar-left::-webkit-scrollbar-track,
.fixed-sidebar-right::-webkit-scrollbar-track {
    background: #e0e0e0; /* Lighter background color of the scrollbar track */
}

.fixed-sidebar-left::-webkit-scrollbar-thumb,
.fixed-sidebar-right::-webkit-scrollbar-thumb {
    background: #b0b0b0; /* Lighter color of the scrollbar thumb */
}

.fixed-sidebar-left::-webkit-scrollbar-thumb:hover,
.fixed-sidebar-right::-webkit-scrollbar-thumb:hover {
    background: #909090; /* Lighter color of the scrollbar thumb on hover */
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.heart-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url('/svg/heart.svg') no-repeat center center;
    background-size: contain;
    transition: background 0.3s;
}

.heart-icon.filled {
    background: url('/svg/heart-fill.svg') no-repeat center center;
    background-size: contain;
}

.open-sans-title {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}
