.header-icon {
    width: 100%;
    max-width: 30px;
    height: auto;
}

.page-link, .dropdown-item, .nav-link, .list-group-item {
    cursor: pointer;
}

.char-counter {
    font-size: small;
}

.hidden {
    display: none;
}

.arrow {
  display: inline-block;
  margin-left: 5px;
  transition: transform 0.1s ease;
  -webkit-transition: transform 0.1s ease;
  -moz-transition: transform 0.1s ease;
  -ms-transition: transform 0.1s ease;
  -o-transition: transform 0.1s ease;
}

.arrow.down {
  transform: rotate(90deg);
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.heart-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url('/svg/heart.svg') no-repeat center center;
    background-size: contain;
    transition: background 0.3s;
}

.heart-icon.filled {
    background: url('/svg/heart-fill.svg') no-repeat center center;
    background-size: contain;
}

.read-more-btn.btn,
.comments-load-more.btn {
  border: 0;
  background: transparent;
}

#home-btn:focus,
#trending-btn:focus {
  outline: none;
}

#home-btn:focus img,
#trending-btn:focus img {
  outline: none;
  background-color: rgba(13, 110, 253, 0.1);
  border-radius: .5rem;     
}

.fake-input-bar {
	background-color: white;
	border: 1px solid #ced4da;
	border-radius: 8px;
	cursor: text;
	transition: box-shadow 0.2s ease-in-out;
}

.fake-input-bar:hover {
	box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.open-sans-title {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}

.icon-sm {
  height: 1em;
  width: 1em;
  vertical-align: middle;
}
