.list-item {
    text-decoration: none;
    color: black;
    padding: 3px 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item:hover {
    background-color: rgba(123, 226, 255, 0.888);
}
