/* offcanvas.css */

.offcanva-li {
    text-decoration: none; 
    color: black; 
    padding: 3px 7px; 
    display: block; 
}

/* Change background on hover */
.offcanva-li:hover {
    background-color: rgba(123, 226, 255, 0.888); /* Slightly darker on hover */
}