.profile-background {
    min-height: 250px; 
    overflow-y: hidden;
    height: 250px;
}

.profile-circle, .profile-metrics {
    width: 17vw;
    height: 17vw; 
    min-width: 180px;
    min-height: 180px;
    max-width: 300px;
    max-height: 300px;
    bottom: 100px;
}

.profile-photo {
    width: 15vw; 
    height: 15vw; 
    min-width: 160px;
    min-height: 160px;
    max-width: 270px;
    max-height: 270px;
}