.profile-background {
    min-height: 190px; 
    overflow-y: hidden;
    height: 210px;
}

.profile-circle, .profile-metrics {
    width: 18vw;
    height: 18vw; 
    min-width: 180px;
    min-height: 180px;
    max-width: 300px;
    max-height: 300px;
    bottom: 100px;
}

.profile-photo {
    width: 16vw; 
    height: 16vw; 
    min-width: 160px;
    min-height: 160px;
    max-width: 270px;
    max-height: 270px;
}