.profile-background {
    min-height: 250px; 
    overflow-y: hidden;
    height: 250px;
}

.profile-circle, .profile-metrics {
    width: 17vw;
    height: 17vw; 
    min-width: 180px;
    min-height: 180px;
    max-width: 200px;
    max-height: 200px;
    bottom: 100px;
}

.profile-photo {
    width: 15vw; 
    height: 15vw; 
    min-width: 160px;
    min-height: 160px;
    max-width: 180px;
    max-height: 180px;
}

@media (min-width: 1400px) {
    .profile-background {
        -o-border-radius: 0px 0px 15px 15px;
        -webkit-border-radius: 0px 0px 15px 15px;
        -moz-border-radius: 0px 0px 15px 15px;
        -ms-border-radius: 0px 0px 15px 15px;
        border-radius: 0px 0px 15px 15px;
}
}