@media (max-width: 1199px) {
    html {
        font-size: 0.8rem; 
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 0.9rem; 
    }
}

#left-panel {
    border-top-left-radius: 0.5rem; 
    border-bottom-left-radius: 0.5rem;
}

#right-panel {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

#full-panel {
    border-top-left-radius: 0.5rem; 
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

input[type="password"] {
    margin-bottom: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.custom-form-container {
    max-width: 800px;
}